{%  load static %}
<!DOCTYPE html>
<html lang="en">
<<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>康复系统</title>
<link rel="stylesheet" type="text/css" href="{%  static 'style1.css' %}">
</head>
<body>

    <div class="dowebok">
        <div class="logo"></div>

        <form action="" method="post">
            {% csrf_token %}
        <div class="form-item">
            <input id="username" name="username" type="text" autocomplete="off" placeholder="用户名"  onfocus="this.placeholder= ' '" onblur="this.placeholder='用户名'">
        </div>
        <div class="form-item">
            <input id="password" name="password" type="password" autocomplete="off" placeholder="登录密码" onfocus="this.placeholder= ' '" onblur="this.placeholder='登陆密码'">
        </div>

        <div class="form-item">
            <button id="submit">登 录</button>
        </div>
        </form>
        <div class="reg-bar">
            <a class="reg" href="register">立即注册</a>
            <a class="forget" href="javascript:">忘记密码</a>
        </div>
    </div>
</html>