{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>养老系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <!-- CSS Libs -->
     <link href="{% static 'lib/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/css/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/css/bootstrap-switch.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/css/checkbox3.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/css/jquery.dataTables.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'lib/css/select2.min.css'%}" rel="stylesheet">
    <!-- CSS App -->
     <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/themes/flat-blue.css'%}" rel="stylesheet">

	<script src="{% static 'lib/js/jquery-1.4.4.min.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/style2.css'%}">

</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active"><a href="olds_info">老人信息管理</a></li>
							<li class="active">查看/管理老人信息</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">你的名字 <span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li>
                                    <div>
                                        <h4 class="username">{{ name }}</h4>
										<p>系统管理员</p>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <a href=""><button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i>注销</button></a>
                                      </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">养老系统</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="">
                                    <span class="icon fa fa-tachometer"></span><span class="title">主界面</span>
                                </a>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#query-statistics">
                                    <span class="icon fa fa-gears"></span><span class="title">系统设置模块</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="query-statistics" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="personal"> <h3>维护信息</h3></a>
                                            </li>

                                            <li><a href="updatepassword"> <h3>修改密码</h3></a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </li>
                             <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#contract-information-management1">
                                    <span class="icon fa fa-file"></span><span class="title">老人信息管理</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="contract-information-management1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="add_old"><h3>新增老人信息</h3></a>
                                            </li>

                                            <li><a href="olds_info"><h3>查看/管理老人信息</h3></a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </li>

							<li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#client-information-management">
                                    <span class="icon fa fa-file"></span><span class="title">工作人员信息管理</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="client-information-management" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href=""><h3>新增工作人员信息</h3></a>
                                            </li>
                                            <li><a href=""><h3>查看/管理工作人员信息</h3></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
							 <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#contract-information-management1">
                                    <span class="icon fa fa-file"></span><span class="title">义工信息管理</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="contract-information-management1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href=""><h3>义工老人信息</h3></a>
                                            </li>

                                            <li><a href=""><h3>查看/管理义工信息</h3></a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#contract-information-management1">
                                    <span class="icon fa fa-calculator"></span><span class="title">数据管理</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="contract-information-management1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href=""><h3>不确定</h3></a>
                                            </li>

                                         
                                           
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#contract-information-management1">
                                    <span class="icon fa fa-eye"></span><span class="title">摄像头管理</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="contract-information-management1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href=""><h3>不确定</h3></a>
                                            </li>
   
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
          
			
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">

					<div class="page-title">
                        <span class="title">老人详细信息</span>
                    </div>

<style>
	td{
		width: 80px;
        height: 50px;
	}
</style>
<table border="1"   align="center" cellspacing="0">
		<tr align="center">
			<td bgcolor="#ededed">姓名</td>
			<td>{{ old.username }}</td>

			<td bgcolor="#ededed">编号</td>
			<td>{{ old.id }}</td>
			<td bgcolor="#ededed">性别</td>
			<td>{{ old.gender }}</td>
			<td colspan="2" rowspan="3"><img src="{%  static old.profile_photo %}" width="150px" height="210px"> </td>
		</tr>
		<tr align="center">
			<td bgcolor="#ededed">出生日期</td>
			<td>{{ old.birthday | date:'Y-m-d' }}</td>
			<td bgcolor="#ededed">健康状态</td>
			<td >{{ old.health_state }}</td>
			<td bgcolor="#ededed">电话</td>
			<td >{{ old.phone }}</td>
		</tr>

		<tr align="center">

			<td bgcolor="#ededed">身份证号</td>
			<td colspan="3">{{ old.id_card }}</td>
			<td bgcolor="#ededed">房间号</td>
			<td >{{ old.room_number }}</td>
		</tr>
		<tr align="center">
			<td bgcolor="#ededed">入院日期</td>
			<td colspan="3">{{ old.checkin_date | date:'Y-m-d' }}</td>
			<td bgcolor="#ededed">出院日期</td>
			<td colspan="2">{{ old.checkout_date | date:'Y-m-d' }}</td>
		</tr>
		<tr align="center">
			<td bgcolor="#ededed" rowspan="2">第一监护人</td>
			<td bgcolor="#ededed">姓名</td>
			<td colspan="2">{{ old.firstguardian_name }}</td>

			<td bgcolor="#ededed">与老人关系</td>
            <td colspan="2">{{ old.firstguardian_relationship }}</td>
        </tr>
		<tr align="center">
			<td bgcolor="#ededed">电话</td>
            <td colspan="2">{{ old.firstguardian_phone }}</td>
			<td bgcolor="#ededed">微信</td>
            <td colspan="2">{{ old.firstguardian_wechat }}</td>
        </tr>

<tr align="center">
			<td bgcolor="#ededed" rowspan="2">第二监护人</td>
			<td bgcolor="#ededed">姓名</td>
			<td colspan="2">{{ old.secondguardian_name}}</td>

			<td bgcolor="#ededed">与老人关系</td>
            <td colspan="2">{{ old.secondguardian_relationship }}</td>
        </tr>
		<tr align="center">
			<td bgcolor="#ededed">电话</td>
            <td colspan="2">{{ old.secondguardian_phone }}</td>
			<td bgcolor="#ededed">微信</td>
            <td colspan="2">{{ old.secondguardian_wechat }}</td>
        </tr>
  <tr align="center">

			<td bgcolor="#ededed">创建时间</td>
            <td colspan="3">{{ old.created | date:"Y-m-d"}}</td>

			<td bgcolor="#ededed">创建人</td>
            <td colspan="2">{{ old.createby}}</td>
    </tr>
  <tr align="center">

			<td bgcolor="#ededed">修改时间</td>
            <td colspan="3">{{ old.updated | date:"Y-m-d"}}</td>

			<td bgcolor="#ededed">修改人</td>
            <td colspan="2">{{ old.updateby}}</td>
    </tr>
    <tr align="center">

			<td bgcolor="#ededed">备注</td>
            <td colspan="7">{{ old.description}}</td>
    </tr>

	</table>
                    <!-- 原文链接：https://blog.csdn.net/qq_42720683/article/details/81293741-->
                </div>
            </div>

        </div>
        <footer class="app-footer">
            <div class="wrapper"> <span class="pull-right">回到顶部 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2019 Copyright  by 及振卿小组
            </div>
        </footer>

	</div>
	 <!-- Javascript Libs -->
           <script src="{% static 'lib/js/jquery.min.js'%}"></script>
            <script src="{% static 'lib/js/bootstrap.min.js'%}"></script>
            <script src="{% static 'lib/js/Chart.min.js'%}"></script>
            <script src="{% static 'lib/js/bootstrap-switch.min.js'%}"></script>

            <script src="{% static 'lib/js/jquery.matchHeight-min.js'%}"></script>
            <script src="{% static 'lib/js/jquery.dataTables.min.js'%}"></script>

            <script src="{% static 'lib/js/dataTables.bootstrap.min.js'%}"></script>
            <script src="{% static 'lib/js/select2.full.min.js'%}"></script>
            <script src="{% static 'lib/js/ace/ace.js'%}"></script>
            <script  src="{% static 'lib/js/ace/mode-html.js'%}"></script>
            <script src="{% static 'lib/js/ace/theme-github.js'%}"></script>
            <!-- Javascript -->
            <script src="{% static 'lib/js/app.js'%}"></script>
            <script src="{% static 'lib/js/index.js'%}"></script>


</body>

</html>